@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.login__container {
  width: 100vw;
  height: 100vh;
  background-color: #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 40px;
  color: white;
  text-align: center;
}

.login__container p {
  font-family: 'Schoolbell', cursive;
  font-size: 45px;
}

.login__card {
  background-color: #fff;
  width: 60%;
  height: 45%;
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__data h1 {
  margin-bottom: 30px;
  color: #444;
  font-size: 30px;
}

.login__data input {
  margin-bottom: 20px;
  background-color: rgb(240, 239, 239);
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 14px;
}

.login__data button {
  width: 50%;
  height: 40px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
}

.login__data span {
  margin-top: 25px;
  font-size: 12px;
}

.testeLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(216, 215, 215);
  border-radius: 10px;
  margin-top: 15px;
  width: 300px;
}

.testeLogin span {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px;
}

.login__createAccount {
  margin-top: 30px;
}

.login__createAccount span {
  font-size: 12px;
}

.login__createAccount .btn {
  margin-left: 10px;
  width: 92px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  align-items: center;
}

.modal__b__createAccount {
  display: flex;
  flex-direction: column;
}

.modal__b__createAccount input {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 40%;
}

.modal input {
  font-size: 14px;
  padding: 3px;
}

.no__data {
  border: 1px solid red;
  border-radius: 5px;
}

.alert__createAccount {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.hide {
  display: none;
}

.margin-right__login {
  margin-right: 8px;
}

@media (max-width: 650px){
  .login__container p{
    font-size: 30px;
  }
}

@media (max-width: 299px){
  .login__container p{
    font-size: 20px;
  }

  .login__card {
    width: 60%;
    height: 45%;
    max-width: 600px;
    min-width: 200px;
  }

  .login__data h1 {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .login__data input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
  }

  .login__data button {
    width: 40%;
    height: 35px;
    margin-top: 10px;
  }

  .testeLogin {
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
  }

  .login__createAccount {
    display: flex;
    flex-direction: column;
  }

  .login__createAccount span {
    margin-bottom: 10px;
  }
}